@model RPDControlSystem.Models.RPD.Direction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Direction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Code">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
